@media screen and ( max-width: 1280px )
	// универсальная настройка тайтла
	.section
		&-title
			&__heading
				font-size: 2.7rem
				margin-bottom: 3.4rem
	// header
	.nav
		&__item
			margin-right: 1.4rem
@media screen and ( max-width: 1030px )
	html
		font-size: 8.57px
@media screen and ( max-width: 992px )
	.container
		width: 85%
	// header
	.nav
		display: none
	// hero
	.hero
		&__instagram
			display: none
		&__content
			margin-left: 0
	// types
	.types
		&__card
			margin-bottom: 6.5rem
	// project где блок переходит на черный фон
	.project
		padding-top: 3rem
		background: $dark
		&__section-title, &__subtitle
			color: $light
		&__card
			margin-bottom: 7rem
		&__pricetag
			box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3)
	
	// fin-projects
	.col-45, .col-55
		display: block	// .swiper
		width: 70%
		margin: auto
		margin-left: 0
	.fin-projects
		&__row
			flex-direction: column
			align-items: center
		&__col-45
			margin-bottom: 3.92rem
	.swiper
		&-slide
			&__text
				flex-basis: 40%
	// универсальная для рядов карточек
	.row
		flex-direction: column
		align-items: center
	.card
		&__text
			margin-left: 0
@media screen and ( max-width: 760px )
	// fin-projects
	.fin-projects
		padding: 13rem 0
		&__row
			width: 100%
	.col-45, .col-55
		width: 100%
	// control
	.control
		margin-top: -10px
		padding: 25px 0 0 0
		background: $dark
		&__form
			flex-direction: column
			max-width: 70%
		&__text
			color: $light
			font-size: 1.9rem
		&__input-group
			margin-bottom: 6.3rem
			&--bot
				margin-bottom: 2.6rem
		&__label
			color: rgba(255, 255, 255, 0.5)
		&__input
			color: $light
			border-bottom: 1px solid $light
			&::placeholder
				color: $light
		&__policy
			margin-top: 0
			margin-bottom: 6.2rem
		&__policy-label
			color: $light
		&__button
			order: 5
			margin-bottom: -2.5rem
			width: 70%
			align-self: center
		&__policy
			align-self: flex-start
	// div
	// 	&.invalid
	// 		color: $light
	#controlPolicy-error, #footerPolicy-error
		left: 37%

	//types
	.types
		padding-top: 9rem
@media screen and ( max-width: 570px )
	// header
	.contacts
		&__button
			display: none
		&__phone
			font-size: 1.4rem
			margin-right: 0
			color: $light
			text-decoration: none
	// control
	.control


@media screen and ( max-width: 510px )
	// размер контейнера
	.container
		width: 90.67%
	// универсальная настройка тайтлов
	.section
		&-title
			&__subtitle
				margin-bottom: 4.5rem
			&__heading
				font-size: 2.567rem
				margin-bottom: 1.7rem
	// hero
	.hero
		&__button
			display: block
			width: 100%
			font-size: 13px
			margin-bottom: 24px
		&__scroll-down
			display: none
		&__title
			font-size: 23px
		&__text
			font-size: 18px
			margin-bottom: 3.5rem
	// control
	.control
		&__video
			min-height: 207px
			margin-bottom: 28px
		&__section-title
			margin-bottom: 44px
		&__text
			font-size: 1.63rem
			line-height: 172%
			margin-bottom: 30px
			&::before
				margin-bottom: 14px
		&__form
			max-width: 100%
		&__input-group
			margin-bottom: 63px
			&--bot
				margin-bottom: 10px
		&__label
			font-size: 15px
		&__input
			font-size: 18px
		&__policy
			margin-bottom: 62px
			&-label
				font-size: 18px
		&__button
			font-size: 15px
			padding: 16px 124px
			width: 100%
	.video
		&__play
			max-width: 67px
	#controlPolicy-error, #footerPolicy-error
		left: 0

	// универсальная настройка карточек
	.card
		&__title
			font-size: 1.76rem
		&__text
			margin-top: -16.75rem
			min-width: 31.5rem
		&__list
			font-size: 1.5169rem
			line-height: 2.6rem
		&__pricetag
			font-size: 1.75rem
	// types
	.types
		margin-bottom: 5rem
		&__section-title
			margin-bottom: 4.667rem
		&__card
			margin-bottom: 9.66rem
			&-text
				padding: 2.4rem 3.617rem 2.75rem
			&-title
			&-list
				margin-bottom: 1.5rem
		&__pricetag
			padding: 1.283rem 3.75rem

	// project
	.project
		&__subtitle
			max-width: 35.7rem
			font-size: 1.77rem
			line-height: 2.45rem
		&__card
			margin-bottom: 9.2rem
			&-title
				margin-bottom: 1.3rem
			&-text
				padding: 2.18rem 3.7rem 2.6rem
			&-list
				margin-bottom: 2.4rem
				max-height: 155px
				text-overflow: ellipsis
				overflow: hidden
		&__pricetag
			bottom: -2.4rem
			padding: 1.3rem 5.5rem

	// fin-projects
	.section
		&-title
			&__word::after
				display: none
	.fin-projects
		padding: 36px 0 48px 0
		&__section-title
			margin-bottom: 36px
		&__title-heading
			font-size: 2.35rem
			line-height: 155%
			margin-bottom: 24px
		&__text
			font-size: 1.634rem
			line-height: 160%
			max-width: 35rem
		&__swiper-wrapper-text
			margin-bottom: 3rem
		&__swiper-wrapper-img
	.swiper
		&-slide
			&__text
				padding: 0
				margin-bottom: 3.1rem
				flex-basis: 47%
			&__heading
				font-size: 1.634rem
				margin-bottom: 1.15rem
			&__value
				line-height: 145%
				font-size: 1.66rem
			&__image
				width: 100%
				height: 202px
				overflow: hidden
	// footer
	.footer
		background: $dark
		&__container
			display: flex
			flex-direction: column
		&__title
			font-size: 20px
			margin-bottom: 54px
		&__form-wrap
			background: $dark
			max-width: 100%
			margin: 0
			padding: 0
			margin-bottom: 46px
		&__form
			max-width: 100%
		&__input-group
			flex-basis: 100%
			margin-bottom: 60px
			&--full-width
				margin-bottom: 6px
		&__label
			font-size: 15px
		&__input
			font-size: 18px
		&__button
			flex-basis: 100%
		&__policy
			margin-bottom: 69px
			&-label
				justify-content: flex-start
		&__menu
			display: none
		&-contacts
			order: 5
			&__word
				display: inline
			&__icons
				max-width: 99px
			&__round
				width: 39px
				height: 39px
		&__map
			&--pc
				display: none
			&--mobile
				display: block
				max-width: 100%
				min-height: 255px
	.map-wrap
		margin-bottom: 42px

@media screen and ( max-height: 550px )
	.hero
		&__scroll-down
			display: none
