@media screen and ( max-width: 1280px )
	html
		font-size: 12px
	.nav
		&__item
			margin-right: 1rem
@media screen and ( max-width: 992px )
	.nav
		display: none
	.hero
		&__instagram
			display: none
		&__content
			margin-left: 0
@media screen and ( max-width: 570px )
	.contacts
		&__button
			display: none
		&__phone
			margin-right: 0
			color: $light
			text-decoration: none
@media screen and ( max-width: 510px )
	.hero
		&__button
			display: block
			width: 100%
			margin-bottom: 26px
@media screen and ( max-width:  450px)
	.hero
		&__scroll-down
			display: none
		&__title
			font-size: 23px
		&__text
			font-size: 18px
@media screen and ( max-height: 550px )
	.hero
		&__scroll-down
			display: none
