.modal
	opacity: 0
	visibility: hidden
	position: fixed
	z-index: 199
	left: 0
	top: 0
	bottom: 0
	right: 0
	background-color: rgba($dark, 0.6)
	display: flex
	align-items: center
	justify-content: center
	&--visible
		opacity: 1
		visibility: visible
	&__dialog
		position: relative
		max-width: 50.6rem
		background: $dark url('../img/bg-lines-modal.svg') no-repeat center / cover
		padding: 3rem 4.9rem 2.7rem
		color: $light
	&__close
		position: absolute
		right: 0
		top: 0
		height: 28px
		width: 28px
		background: transparent url('../img/close.svg') no-repeat center
		border: none
		margin: 12px
		cursor: pointer
	&__title
		font-family: 'Yeseva One', cursive
		font-weight: normal
		font-size: 1.9rem
		text-align: center
		margin-bottom: 2.8rem
		line-height: 147%
	&__form
		display: flex
		flex-direction: column
	&__label
		margin-bottom: -0.3rem
	&__input
		&-group
			display: flex
			flex-direction: column
			margin-bottom: 4.5rem
			&--last
				margin-bottom: 0.1rem
		border-bottom: 1px solid rgba(54, 54, 54, 0.3)
		color: $light
	&__policy
		margin-bottom: 3.9rem
	&__button
		align-self: flex-end
		padding: 1.9rem 4.7rem