.project
	background: linear-gradient(to bottom, $light 50%, $dark 50%)
	&__subtitle
		margin-top: 1.3rem
		max-width: 52.86rem
		margin-bottom: 2.86rem
	&__card
		margin-bottom: 7rem
	&__img-wrap
		position: relative
		max-width: 392px
		max-height: 421px
		&::before
			content: ''
			position: absolute
			top: 0
			left: 0
			width: 100%
			height: 100%
			background-color: rgba($dark, 0.3)
	&__image
		display: block
		max-width: 100%
		height: auto
	&__pricetag
		min-width: 228px
		text-align: left
		align-items: center
		padding: 1.23rem 2.3rem
	&__card-text
		padding: 1.786rem 2.5rem
		max-width: 23.57rem
	&__card-title
		margin-bottom: 0.6rem
	&__card-list
		margin-bottom: 2.05rem
		line-height: 1.85rem
