.types
	margin-bottom: 150px
	&__section-title
		margin-bottom: 2rem
	&__card-text
		max-width: 23.6rem
		padding: 1.786rem 2.5rem
	&__card-title
		margin-bottom: 0.6rem
	&__card-list
		margin-bottom: 2.3rem
	&__pricetag
		bottom: -1.93rem
		padding: 1.21rem 2.857rem
