.types
	margin-bottom: 150px
	&__section-title
		margin-bottom: 3.3rem
	&__card
		&-text
			max-width: 33rem
			padding: 2.5rem 3.4rem
		&-title
			margin-bottom: 0.9rem
		&-list
			margin-bottom: 3.2rem
	&__pricetag
		bottom: -2.7rem
		padding: 1.7rem 4rem
